.UIHeader__invite-friends {
    background: none;
    cursor: default;
    text-decoration: none;
}

.UIHeader__invite-friends:hover {
    cursor: pointer;
    text-decoration: none;
}

#instacoin26 {
    line-height: 24px;
}

.hidden {
    display: none;
}

.instacoin26-pin {
    width: 22px;
    margin: 0 0 0 5px;
}

.instacoin26-form a,
.instacoin26-form a:hover,
.instacoin26-form a:active,
.instacoin26-form a:visited {
    color: white;
}

.instacoin26-form input,
.instacoin26-form button {
    height: 23px;
}

.instacoin26-info a,
.instacoin26-info a:hover,
.instacoin26-info a:active,
.instacoin26-info a:visited {
    text-decoration: underline;
    cursor: pointer;
}