.UIHeader__invite-friends {
    background: none;
    cursor: default;
    text-decoration: none;
}

.UIHeader__invite-friends:hover {
    cursor: pointer;
    text-decoration: none;
}

#ic26 {
    line-height: 24px;
}

.hidden {
    display: none;
}

.ic26-pin {
    width: 22px;
    margin: 0 0 0 5px;
}

.ic26-form a,
.ic26-form a:hover,
.ic26-form a:active,
.ic26-form a:visited {
    color: white;
}

.ic26-form input,
.ic26-form button {
    height: 23px;
}

.ic26-info,
{
    text-decoration: underline;
    cursor: pointer;
}